{% extends 'base.html.twig' %}

{% block title %}Edit Habilitante{% endblock %}

{% block body %}
    <h1>Edit Habilitante</h1>

    {{ include('habilitante/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_habilitante_index') }}">back to list</a>

    {{ include('habilitante/_delete_form.html.twig') }}
{% endblock %}
