{% extends 'base.html.twig' %}

{% block title %}Habilitante index{% endblock %}

{% block body %}
    <h1>Habilitante index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habilitante in habilitantes %}
            <tr>
                <td>{{ habilitante.id }}</td>
                <td>
                    <a href="{{ path('app_habilitante_show', {'id': habilitante.id}) }}">show</a>
                    <a href="{{ path('app_habilitante_edit', {'id': habilitante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_habilitante_new') }}">Create new</a>
{% endblock %}
